<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% if title %}
		<title>{{ title }}</title>
	{% else %}
		<title>Migration</title>
	{% endif %}
	<link rel="stylesheet" href="{{ base_url() }}/css/prism.css">
	<link rel="stylesheet" href="{{ base_url() }}/css/styles.css">
	{% if next_url %}
		<meta http-equiv="refresh" content="1;url={{ next_url }}">
	{% endif %}
</head>
<body>
	<div class="container">
		<span class="logo">
			<img src="{{ base_url() }}/images/miva.png" alt="Miva">
		</span>
		<section class="section">
			{% if title %}
				<h1 class="title">{{ title }}</h1>
			{% else %}
				<h1 class="title">Migration</h1>
			{% endif %}

			{% if action %}
				<h2 class="action">{{ action | raw }}</h2>
			{% endif %}
		</section>

		{% if progress %}
			<section class="section section-progress">
				<p class="progress-lead">
					<b>Total Progress:</b> <span class="page-number">{{ progress.page }}</span> of <span class="page-number">{{ progress.total }}</span>
				</p>
				<div class="progress-content">
					<progress value="{{ progress.page }}" max="{{ progress.total }}"></progress>
					<p class="progress-info">
						<span class="progress-percent">{{ progress.percent }}%</span> Complete
					</p>
				</div>
			</section>
		{% endif %}

		{% if prv_res.getBody() %}
			<section class="section section-prv">
				<h3 class="title">Last PRV Response</h3>
				<pre><code class="language-xml">{{ prv_res.getBody() }}</code></pre>
			</section>
		{% endif %}
	</div>
	<script src="{{ base_url() }}/js/prism.js"></script>
	<!-- <script src="{{ base_url() }}/js/scripts.js"></script> -->
</body>
</html>